@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#FCF0EF,#FEBBBB);
}

main{ /* fundo conteúdo*/
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9e7373a8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #FEBBBB;
    text-align: center;
    text-shadow: 1px 1px 2px #aa7b7b75 ;
}

h2{
    color: #1F4171;
}

p{
    text-align: justify;
}